#board div {
    background-color: #15CE9B;
    border: 1px solid #15CE9B;
    box-sizing: border-box;
    float: left;
    width: 24px;
    height: 24px;

}

.ad-left {
  float: left;

}

.ad-right {
  float: right;
  margin-left: 270px;
}

.entire-thing {
  width: 1100px;
}

.question {
  text-align: center;
}

.life-score {
  text-align: center;
}
