#board div {
    background-color: #15CE9B;
    border: 1px solid #15CE9B;
    box-sizing: border-box;
    float: left;
    width: 24px;
    height: 24px;

}

* {
  font-family: "Arcade Pi";
  text-align: center;
}

.ad-left {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.ad-right {
  float: right;
  margin-left: 270px;
}

.entire-thing {
  width: 1100px;
  text-align: center;
}

#leaderboard {
  list-style-position: inside;
  text-align: center;

}

#list {
  padding-right: 30px;
}

.lifeBox {
  padding-top: 30px;
  padding-bottom: 30px;
}
